<!-- BEGIN layout#display -->
	<!--#include file="/include/module/siteparts/linkList.html" -->
<!-- END layout#display -->
<!-- BEGIN layout#dummy -->
<div class="moduleSection">
	<h2 class="acms-list-group-heading sideTitle">リンク集</h2>
	<ul class="acms-list-group">
		<li><a href="base.html" class="acms-list-group-item">全部載せ</a></li>
		<li><a href="http://www.a-blogcms.jp" class="acms-list-group-item">a-blog cms</a></li>
		<li><a href="http://www.appleple.com" class="acms-list-group-item">有限会社アップルップル</a></li>
	</ul>
</div>
<!-- END layout#dummy -->