<!-- BEGIN layout#display -->
<!--#include file="/include/module/entry/body.html"-->
<!-- END layout#display -->
<!-- BEGIN layout#dummy -->
<article class="entry clearfix">
	<!-- エントリーのタイトル　開始▼▼ -->
	<header class="acms-page-header pageHeader">
		<p class="entryInfo">
			<time datetime="2015-01-01">2015年01月01日（金）</time>
			<span class="acms-label entryCategory"><a href="#">お知らせ</a></span>
			<span class="acms-label acms-label-warning entryNew">NEW</span>
		</p>
		<h1 class="entryTitle">サンプルの記事</h1>
	</header>
	
	<div class="acms-entry entryColumn">
		<div class="acms-grid-r">
			<p>こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。</p>

			<h2>サンプルの記事です</h2>

			<p>こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。</p>

			<p>こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。こちらはサンプルの記事になります。</p>
			<hr class="clearHidden">
		</div>
	</div>

	<footer class="entryFooter">
		<div class="clearfix">
			<div class="entryTagWrapper acms-col-md-6">
				<dl class="entryTag">
					<dt class="acms-inline-space entryTagIcon"><span class="acms-icon-tag"></span><span class="acms-hide-visually">タグ</span></dt>
					<dd class="entryTagItem"><a href="#">sample1</a></dd>
					<dd class="entryTagItem"><a href="#">sample2</a></dd>
					<dd class="entryTagItem"><a href="#">sample3</a></dd>
				</dl>
			</div>
			<div class="acms-col-md-6">
				<!-- SNSシェアボタン -->
				<div class="shareWrapper">
					<p class="shareText">シェアする</p>
					<ul class="shareList">
						<li class="shareItem"><a href="#"  class="shareItemFacebook"><span class="acms-icon-facebook"></span></a></li>
						<li class="shareItem"><a href="#" class="shareItemTwitter"><span class="acms-icon-twitter"></span></a></li>
						<li class="shareItem"><a href="#" class="shareItemGplus"><span class="acms-icon-gplus"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

</article>


<!-- END layout#dummy -->