<!-- BEGIN layout#display -->

<!-- #include file="/include/module/entry/topHeadline.html" -->

<!-- END layout#display -->
<!-- BEGIN layout#dummy -->
<section class="moduleSection">

<div class="moduleHeader clearfix">
	<h2 class="moduleHeading">新着情報</h2><a href="" class="moduleIndexLink"><span class="acms-icon acms-icon-arrow-right"></span>一覧</a>
</div>
<ul class="headline acms-list-group clearfix">
	<li class="acms-list-group-item">
		<span class="headlineDat">2013年06月19日( 水 )</span>
		<span class="acms-label">お知らせ</span>
		<a href="#" class="acms-list-group-title-link">ホームページをリニューアルしました</a>
	</li>
	<li class="acms-list-group-item">
		<span class="headlineDat">2013年06月19日( 水 )</span>
		<span class="acms-label">お知らせ</span>
		<a href="#" class="acms-list-group-title-link">a-blog cms の使い方情報</a>
	</li>
	<li class="acms-list-group-item">
		<span class="headlineDat">2013年02月12日( 火 )</span>
		<span class="acms-label">お知らせ</span>
		<a href="#" class="acms-list-group-title-link">ユニットによる要素の掲載例</a>
	</li>
	<li class="acms-list-group-item">
		<span class="headlineDat">2013年02月11日( 月 )</span>
		<span class="acms-label">お知らせ</span>
		<a href="#" class="acms-list-group-title-link">段組のテスト</a>
	</li>
	<li class="acms-list-group-item">
		<span class="headlineDat">2013年02月10日( 日 )</span>
		<span class="acms-label">お知らせ</span>
		<a href="#" class="acms-list-group-title-link">カスタムフィールドグループのサンプル</a>
	</li>
</ul>
</section>
<!-- END layout#dummy -->