<!-- BEGIN layout#display -->
<!-- BEGIN_MODULE Tag_Cloud -->
<ul class="acms-admin-list-inline">
	<!-- BEGIN tag:loop -->
	<li><span class="acms-admin-label acms-admin-label-success tagSize{level}"><a href="{url}" title="{amount}件">{name}</a></span></li>
	<!-- END tag:loop -->
</ul>
<!-- END_MODULE Tag_Cloud -->
<!-- END layout#display -->

<!-- BEGIN layout#dummy -->
<ul class="acms-admin-list-inline">
	<li><span class="acms-admin-label acms-admin-label-success tagSize1"><a href="#" title="5件">タグA</a></span></li>
	<li><span class="acms-admin-label acms-admin-label-success tagSize1"><a href="#" title="10件">タグB</a></span></li>
	<li><span class="acms-admin-label acms-admin-label-success tagSize1"><a href="#" title="8件">タグC</a></span></li>
</ul>
<!-- END layout#dummy -->