<!-- BEGIN layout#display -->
&lt;!-- BEGIN_MODULE User_Profile --&gt;
&lt;div class="acms-admin-margin-bottom-medium"&gt;
	&lt;!-- BEGIN user:loop --&gt;
	&lt;div class="acms-admin-summary"&gt;
		&lt;!-- BEGIN image:veil --&gt;
		&lt;div class="acms-admin-summary-image"&gt;
			&lt;img src="%{ARCHIVES_DIR}{icon}" alt="{name}" width="60" /&gt;
		&lt;/div&gt;
		&lt;!-- END image:veil --&gt;
		&lt;div class="acms-admin-summary-body"&gt;
			&lt;!-- BEGIN name:veil --&gt;
			&lt;h4 class="acms-admin-summary-heading"&gt;{name}&lt;/h4&gt;
			&lt;!-- END name:veil --&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;!-- END user:loop --&gt;
&lt;/div&gt;
&lt;!-- END_MODULE User_Profile --&gt;
<!-- END layout#display -->


<!-- BEGIN layout#dummy -->
<div class="acms-admin-margin-bottom-medium">
	<div class="acms-admin-summary">
		<div class="acms-admin-summary-image">
			<img src="/images/noimage.png" alt="" width="60">
		</div>
		<div class="acms-admin-summary-body">
			<h4 class="acms-admin-summary-heading">山田　太郎</h4>
		</div>
	</div>

	<div class="acms-admin-summary">
		<div class="acms-admin-summary-image">
			<img src="/images/noimage.png" alt="" width="60" >
		</div>
		<div class="acms-admin-summary-body">
			<h4 class="acms-admin-summary-heading">山田　太郎</h4>
		</div>
	</div>

	<div class="acms-admin-summary">
		<div class="acms-admin-summary-image">
			<img src="/images/noimage.png" alt="" width="60">
		</div>
		<div class="acms-admin-summary-body">
			<h4 class="acms-admin-summary-heading">山田　太郎</h4>
		</div>
	</div>
</div>
<!-- END layout#dummy -->
