<!-- BEGIN layout#display -->
	<!--#include file="/include/header/slider.html" -->
<!-- END layout#display -->
<!-- BEGIN layout#dummy -->
<div class="js-main-slider">
	<div>
		<div class="mainSliderImage" style="background-image: url(./themes/site2015/images/img_sample_slider.png);">
		<a href="#" target="{target}">
			<div class="acms-container sp-container mainSliderTextOuter">
				<div class="mainSliderTextWrap">
					<div class="mainSliderTextInner">
						<p class="mainSliderMainCopy">レイアウトを自由に変えられる</p>
						<p class="mainSliderSideCopy">CHANGE THE LAYOUT</p>
					</div>
				</div>
			</div>
		</a>
		</div>
	</div>
	<div>
		<div class="mainSliderImage" style="background-image: url(./themes/site2015/images/img_sample_slider.png);">
		<a href="#" target="{target}">
			<div class="acms-container sp-container mainSliderTextOuter">
				<div class="mainSliderTextWrap">
					<div class="mainSliderTextInner">
						<p class="mainSliderMainCopy">レイアウトを自由に変えられる</p>
						<p class="mainSliderSideCopy">CHANGE THE LAYOUT</p>
					</div>
				</div>
			</div>
		</a>
		</div>
	</div>
</div>

<!-- END layout#dummy -->
