<!-- BEGIN layout#display -->
<!-- BEGIN_MODULE Blog_ChildList -->
<ul class="acms-admin-list-group"><!-- BEGIN blog:loop -->
	<li><a href="{url}" class="acms-admin-list-group-item">{name}</a></li><!-- END blog:loop -->
</ul><!-- END_MODULE Blog_ChildList -->
<!-- END layout#display -->

<!-- BEGIN layout#dummy -->
<div>
	<ul class="acms-admin-list-group">
		<li><a href="#" class="acms-admin-list-group-item">子ブログのリスト</a></li>
		<li><a href="#" class="acms-admin-list-group-item">子ブログのリスト</a></li>
		<li><a href="#" class="acms-admin-list-group-item">子ブログのリスト</a></li>
		<li><a href="#" class="acms-admin-list-group-item">子ブログのリスト</a></li>
	</ul>
</div>
<!-- END layout#dummy -->