@font-face {
    font-family:"acms-fonts";
    src:url("@{acms-font}acms-fonts-20150901.eot");
    font-weight:normal;
    font-style:normal;
}
@font-face {
	font-family:"acms-fonts";
	src:url("@{acms-font}acms-fonts-20150901.eot");
	src:url("@{acms-font}acms-fonts-20150901.eot?#iefix") format("embedded-opentype"),
		url("@{acms-font}acms-fonts-20150901.woff") format("woff"),
		url("@{acms-font}acms-fonts-20150901.ttf") format("truetype"),
		url("@{acms-font}acms-fonts-20150901.svg?#acms-fonts") format("svg");
	font-weight:normal;
	font-style:normal;
}

.acms-icon {
	font-family:"acms-fonts";
	display:inline-block;
	// position: relative;
	//	top: 1px;
	line-height:1;
	font-weight:normal;
	font-style:normal;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}


// Icons

.icon-add-below() {
	&:before {
		content:"\e001";
	}

}
.acms-icon-add-below{
 	.icon-add-below();
}

.icon-add-duplicate() {
	&:before {
		content:"\e002";
	}

}
.acms-icon-add-duplicate{
 	.icon-add-duplicate();
}

.icon-alias() {
	&:before {
		content:"\e003";
	}

}
.acms-icon-alias{
 	.icon-alias();
}

.icon-app() {
	&:before {
		content:"\e004";
	}

}
.acms-icon-app{
 	.icon-app();
}

.icon-attention() {
	&:before {
		content:"\e005";
	}

}
.acms-icon-attention{
 	.icon-attention();
}

.icon-backup() {
	&:before {
		content:"\e006";
	}

}
.acms-icon-backup{
 	.icon-backup();
}

.icon-blog-children() {
	&:before {
		content:"\e007";
	}

}
.acms-icon-blog-children{
 	.icon-blog-children();
}

.icon-blog() {
	&:before {
		content:"\e008";
	}

}
.acms-icon-blog{
 	.icon-blog();
}

.icon-briefcase() {
	&:before {
		content:"\e009";
	}

}
.acms-icon-briefcase{
 	.icon-briefcase();
}

.icon-cart() {
	&:before {
		content:"\e00a";
	}

}
.acms-icon-cart{
 	.icon-cart();
}

.icon-category() {
	&:before {
		content:"\e00b";
	}

}
.acms-icon-category{
 	.icon-category();
}

.icon-change-blog() {
	&:before {
		content:"\e00c";
	}

}
.acms-icon-change-blog{
 	.icon-change-blog();
}

.icon-checklist() {
	&:before {
		content:"\e00d";
	}

}
.acms-icon-checklist{
 	.icon-checklist();
}

.icon-clip() {
	&:before {
		content:"\e00e";
	}

}
.acms-icon-clip{
 	.icon-clip();
}

.icon-close() {
	&:before {
		content:"\e00f";
	}

}
.acms-icon-close{
 	.icon-close();
}

.icon-comment() {
	&:before {
		content:"\e010";
	}

}
.acms-icon-comment{
 	.icon-comment();
}

.icon-config() {
	&:before {
		content:"\e011";
	}

}
.acms-icon-config{
 	.icon-config();
}

.icon-control-edit() {
	&:before {
		content:"\e012";
	}

}
.acms-icon-control-edit{
 	.icon-control-edit();
}

.icon-control-move() {
	&:before {
		content:"\e013";
	}

}
.acms-icon-control-move{
 	.icon-control-move();
}

.icon-control-remove() {
	&:before {
		content:"\e014";
	}

}
.acms-icon-control-remove{
 	.icon-control-remove();
}

.icon-dashboard() {
	&:before {
		content:"\e015";
	}

}
.acms-icon-dashboard{
 	.icon-dashboard();
}

.icon-delete() {
	&:before {
		content:"\e016";
	}

}
.acms-icon-delete{
 	.icon-delete();
}

.icon-down() {
	&:before {
		content:"\e017";
	}

}
.acms-icon-down{
 	.icon-down();
}

.icon-entry() {
	&:before {
		content:"\e018";
	}

}
.acms-icon-entry{
 	.icon-entry();
}

.icon-exit() {
	&:before {
		content:"\e019";
	}

}
.acms-icon-exit{
 	.icon-exit();
}

.icon-flag() {
	&:before {
		content:"\e01a";
	}

}
.acms-icon-flag{
 	.icon-flag();
}

.icon-form() {
	&:before {
		content:"\e01b";
	}

}
.acms-icon-form{
 	.icon-form();
}

.icon-graph() {
	&:before {
		content:"\e01c";
	}

}
.acms-icon-graph{
 	.icon-graph();
}

.icon-import() {
	&:before {
		content:"\e01d";
	}

}
.acms-icon-import{
 	.icon-import();
}

.icon-left() {
	&:before {
		content:"\e01e";
	}

}
.acms-icon-left{
 	.icon-left();
}

.icon-lock() {
	&:before {
		content:"\e01f";
	}

}
.acms-icon-lock{
 	.icon-lock();
}

.icon-logo() {
	&:before {
		content:"\e020";
	}

}
.acms-icon-logo{
 	.icon-logo();
}

.icon-mail() {
	&:before {
		content:"\e021";
	}

}
.acms-icon-mail{
 	.icon-mail();
}

.icon-media() {
	&:before {
		content:"\e022";
	}

}
.acms-icon-media{
 	.icon-media();
}

.icon-mobile() {
	&:before {
		content:"\e023";
	}

}
.acms-icon-mobile{
 	.icon-mobile();
}

.icon-module() {
	&:before {
		content:"\e024";
	}

}
.acms-icon-module{
 	.icon-module();
}

.icon-money() {
	&:before {
		content:"\e025";
	}

}
.acms-icon-money{
 	.icon-money();
}

.icon-open() {
	&:before {
		content:"\e026";
	}

}
.acms-icon-open{
 	.icon-open();
}

.icon-pin() {
	&:before {
		content:"\e027";
	}

}
.acms-icon-pin{
 	.icon-pin();
}

.icon-publish() {
	&:before {
		content:"\e028";
	}

}
.acms-icon-publish{
 	.icon-publish();
}

.icon-right() {
	&:before {
		content:"\e029";
	}

}
.acms-icon-right{
 	.icon-right();
}

.icon-rule() {
	&:before {
		content:"\e02a";
	}

}
.acms-icon-rule{
 	.icon-rule();
}

.icon-schedule() {
	&:before {
		content:"\e02b";
	}

}
.acms-icon-schedule{
 	.icon-schedule();
}

.icon-shortcut() {
	&:before {
		content:"\e02c";
	}

}
.acms-icon-shortcut{
 	.icon-shortcut();
}

.icon-sort() {
	&:before {
		content:"\e02d";
	}

}
.acms-icon-sort{
 	.icon-sort();
}

.icon-sort2() {
	&:before {
		content:"\e02e";
	}

}
.acms-icon-sort2{
 	.icon-sort2();
}

.icon-tag() {
	&:before {
		content:"\e02f";
	}

}
.acms-icon-tag{
 	.icon-tag();
}

.icon-time() {
	&:before {
		content:"\e030";
	}

}
.acms-icon-time{
 	.icon-time();
}

.icon-tooltip() {
	&:before {
		content:"\e031";
	}

}
.acms-icon-tooltip{
 	.icon-tooltip();
}

.icon-trash() {
	&:before {
		content:"\e032";
	}

}
.acms-icon-trash{
 	.icon-trash();
}

.icon-unit-eximage() {
	&:before {
		content:"\e033";
	}

}
.acms-icon-unit-eximage{
 	.icon-unit-eximage();
}

.icon-unit-file() {
	&:before {
		content:"\e034";
	}

}
.acms-icon-unit-file{
 	.icon-unit-file();
}

.icon-unit-image() {
	&:before {
		content:"\e035";
	}

}
.acms-icon-unit-image{
 	.icon-unit-image();
}

.icon-unit-image_h2() {
	&:before {
		content:"\e036";
	}

}
.acms-icon-unit-image_h2{
 	.icon-unit-image_h2();
}

.icon-unit-map() {
	&:before {
		content:"\e037";
	}

}
.acms-icon-unit-map{
 	.icon-unit-map();
}

.icon-unit-text() {
	&:before {
		content:"\e038";
	}

}
.acms-icon-unit-text{
 	.icon-unit-text();
}

.icon-unit-youtube() {
	&:before {
		content:"\e039";
	}

}
.acms-icon-unit-youtube{
 	.icon-unit-youtube();
}

.icon-up() {
	&:before {
		content:"\e03a";
	}

}
.acms-icon-up{
 	.icon-up();
}

.icon-user-group() {
	&:before {
		content:"\e03b";
	}

}
.acms-icon-user-group{
 	.icon-user-group();
}

.icon-user() {
	&:before {
		content:"\e03c";
	}

}
.acms-icon-user{
 	.icon-user();
}

.icon-workflow() {
	&:before {
		content:"\e03d";
	}

}
.acms-icon-workflow{
 	.icon-workflow();
}

.icon-config_access() {
	&:before {
		content:"\e03e";
	}

}
.acms-icon-config_access{
 	.icon-config_access();
}

.icon-config_alias_list() {
	&:before {
		content:"\e03f";
	}

}
.acms-icon-config_alias_list{
 	.icon-config_alias_list();
}

.icon-config_api_bing_image-search() {
	&:before {
		content:"\e040";
	}

}
.acms-icon-config_api_bing_image-search{
 	.icon-config_api_bing_image-search();
}

.icon-config_api_bing_web-search() {
	&:before {
		content:"\e041";
	}

}
.acms-icon-config_api_bing_web-search{
 	.icon-config_api_bing_web-search();
}

.icon-config_api_instagram_users_media_liked() {
	&:before {
		content:"\e042";
	}

}
.acms-icon-config_api_instagram_users_media_liked{
 	.icon-config_api_instagram_users_media_liked();
}

.icon-config_api_instagram_users_media_recent() {
	&:before {
		content:"\e043";
	}

}
.acms-icon-config_api_instagram_users_media_recent{
 	.icon-config_api_instagram_users_media_recent();
}

.icon-config_api_twitter_list_members() {
	&:before {
		content:"\e044";
	}

}
.acms-icon-config_api_twitter_list_members{
 	.icon-config_api_twitter_list_members();
}

.icon-config_api_twitter_list_statuses() {
	&:before {
		content:"\e045";
	}

}
.acms-icon-config_api_twitter_list_statuses{
 	.icon-config_api_twitter_list_statuses();
}

.icon-config_api_twitter_search() {
	&:before {
		content:"\e046";
	}

}
.acms-icon-config_api_twitter_search{
 	.icon-config_api_twitter_search();
}

.icon-config_api_twitter_statuses_home-timeline() {
	&:before {
		content:"\e047";
	}

}
.acms-icon-config_api_twitter_statuses_home-timeline{
 	.icon-config_api_twitter_statuses_home-timeline();
}

.icon-config_api_twitter_statuses_user-timeline() {
	&:before {
		content:"\e048";
	}

}
.acms-icon-config_api_twitter_statuses_user-timeline{
 	.icon-config_api_twitter_statuses_user-timeline();
}

.icon-config_authorize() {
	&:before {
		content:"\e049";
	}

}
.acms-icon-config_authorize{
 	.icon-config_authorize();
}

.icon-config_banner() {
	&:before {
		content:"\e04a";
	}

}
.acms-icon-config_banner{
 	.icon-config_banner();
}

.icon-config_blog_child-list() {
	&:before {
		content:"\e04b";
	}

}
.acms-icon-config_blog_child-list{
 	.icon-config_blog_child-list();
}

.icon-config_cache() {
	&:before {
		content:"\e04c";
	}

}
.acms-icon-config_cache{
 	.icon-config_cache();
}

.icon-config_calendar_month() {
	&:before {
		content:"\e04d";
	}

}
.acms-icon-config_calendar_month{
 	.icon-config_calendar_month();
}

.icon-config_category_entry-list() {
	&:before {
		content:"\e04e";
	}

}
.acms-icon-config_category_entry-list{
 	.icon-config_category_entry-list();
}

.icon-config_category_entry-summary() {
	&:before {
		content:"\e04f";
	}

}
.acms-icon-config_category_entry-summary{
 	.icon-config_category_entry-summary();
}

.icon-config_category_list() {
	&:before {
		content:"\e050";
	}

}
.acms-icon-config_category_list{
 	.icon-config_category_list();
}

.icon-config_column_list() {
	&:before {
		content:"\e051";
	}

}
.acms-icon-config_column_list{
 	.icon-config_column_list();
}

.icon-config_common() {
	&:before {
		content:"\e052";
	}

}
.acms-icon-config_common{
 	.icon-config_common();
}

.icon-config_default() {
	&:before {
		content:"\e053";
	}

}
.acms-icon-config_default{
 	.icon-config_default();
}

.icon-config_edit() {
	&:before {
		content:"\e054";
	}

}
.acms-icon-config_edit{
 	.icon-config_edit();
}

.icon-config_entry_archive-list() {
	&:before {
		content:"\e055";
	}

}
.acms-icon-config_entry_archive-list{
 	.icon-config_entry_archive-list();
}

.icon-config_entry_body() {
	&:before {
		content:"\e056";
	}

}
.acms-icon-config_entry_body{
 	.icon-config_entry_body();
}

.icon-config_entry_calendar() {
	&:before {
		content:"\e057";
	}

}
.acms-icon-config_entry_calendar{
 	.icon-config_entry_calendar();
}

.icon-config_entry_continue() {
	&:before {
		content:"\e058";
	}

}
.acms-icon-config_entry_continue{
 	.icon-config_entry_continue();
}

.icon-config_entry_headline() {
	&:before {
		content:"\e059";
	}

}
.acms-icon-config_entry_headline{
 	.icon-config_entry_headline();
}

.icon-config_entry_list() {
	&:before {
		content:"\e05a";
	}

}
.acms-icon-config_entry_list{
 	.icon-config_entry_list();
}

.icon-config_entry_photo() {
	&:before {
		content:"\e05b";
	}

}
.acms-icon-config_entry_photo{
 	.icon-config_entry_photo();
}

.icon-config_entry_summary() {
	&:before {
		content:"\e05c";
	}

}
.acms-icon-config_entry_summary{
 	.icon-config_entry_summary();
}

.icon-config_entry_tag-relational() {
	&:before {
		content:"\e05d";
	}

}
.acms-icon-config_entry_tag-relational{
 	.icon-config_entry_tag-relational();
}

.icon-config_export() {
	&:before {
		content:"\e05e";
	}

}
.acms-icon-config_export{
 	.icon-config_export();
}

.icon-config_feed_ex-list() {
	&:before {
		content:"\e05f";
	}

}
.acms-icon-config_feed_ex-list{
 	.icon-config_feed_ex-list();
}

.icon-config_feed_rss2() {
	&:before {
		content:"\e060";
	}

}
.acms-icon-config_feed_rss2{
 	.icon-config_feed_rss2();
}

.icon-config_field_value-list() {
	&:before {
		content:"\e061";
	}

}
.acms-icon-config_field_value-list{
 	.icon-config_field_value-list();
}

.icon-config_function() {
	&:before {
		content:"\e062";
	}

}
.acms-icon-config_function{
 	.icon-config_function();
}

.icon-config_import() {
	&:before {
		content:"\e063";
	}

}
.acms-icon-config_import{
 	.icon-config_import();
}

.icon-config_links() {
	&:before {
		content:"\e064";
	}

}
.acms-icon-config_links{
 	.icon-config_links();
}

.icon-config_mail() {
	&:before {
		content:"\e065";
	}

}
.acms-icon-config_mail{
 	.icon-config_mail();
}

.icon-config_navigation() {
	&:before {
		content:"\e066";
	}

}
.acms-icon-config_navigation{
 	.icon-config_navigation();
}

.icon-config_output() {
	&:before {
		content:"\e067";
	}

}
.acms-icon-config_output{
 	.icon-config_output();
}

.icon-config_plugin_schedule() {
	&:before {
		content:"\e068";
	}

}
.acms-icon-config_plugin_schedule{
 	.icon-config_plugin_schedule();
}

.icon-config_property() {
	&:before {
		content:"\e069";
	}

}
.acms-icon-config_property{
 	.icon-config_property();
}

.icon-config_reset() {
	&:before {
		content:"\e06a";
	}

}
.acms-icon-config_reset{
 	.icon-config_reset();
}

.icon-config_shop_cart_list() {
	&:before {
		content:"\e06b";
	}

}
.acms-icon-config_shop_cart_list{
 	.icon-config_shop_cart_list();
}

.icon-config_sitemap() {
	&:before {
		content:"\e06c";
	}

}
.acms-icon-config_sitemap{
 	.icon-config_sitemap();
}

.icon-config_tag_cloud() {
	&:before {
		content:"\e06d";
	}

}
.acms-icon-config_tag_cloud{
 	.icon-config_tag_cloud();
}

.icon-config_tag_filter() {
	&:before {
		content:"\e06e";
	}

}
.acms-icon-config_tag_filter{
 	.icon-config_tag_filter();
}

.icon-config_theme() {
	&:before {
		content:"\e06f";
	}

}
.acms-icon-config_theme{
 	.icon-config_theme();
}

.icon-config_topicpath() {
	&:before {
		content:"\e070";
	}

}
.acms-icon-config_topicpath{
 	.icon-config_topicpath();
}

.icon-config_unit() {
	&:before {
		content:"\e071";
	}

}
.acms-icon-config_unit{
 	.icon-config_unit();
}

.icon-config_user_profile() {
	&:before {
		content:"\e072";
	}

}
.acms-icon-config_user_profile{
 	.icon-config_user_profile();
}

.icon-config_user_search() {
	&:before {
		content:"\e073";
	}

}
.acms-icon-config_user_search{
 	.icon-config_user_search();
}

.icon-arrow-down() {
	&:before {
		content:"\e074";
	}

}
.acms-icon-arrow-down{
 	.icon-arrow-down();
}

.icon-arrow-left() {
	&:before {
		content:"\e075";
	}

}
.acms-icon-arrow-left{
 	.icon-arrow-left();
}

.icon-arrow-right() {
	&:before {
		content:"\e076";
	}

}
.acms-icon-arrow-right{
 	.icon-arrow-right();
}

.icon-arrow-small-down() {
	&:before {
		content:"\e077";
	}

}
.acms-icon-arrow-small-down{
 	.icon-arrow-small-down();
}

.icon-arrow-small-left() {
	&:before {
		content:"\e078";
	}

}
.acms-icon-arrow-small-left{
 	.icon-arrow-small-left();
}

.icon-arrow-small-right() {
	&:before {
		content:"\e079";
	}

}
.acms-icon-arrow-small-right{
 	.icon-arrow-small-right();
}

.icon-arrow-small-up() {
	&:before {
		content:"\e07a";
	}

}
.acms-icon-arrow-small-up{
 	.icon-arrow-small-up();
}

.icon-arrow-up() {
	&:before {
		content:"\e07b";
	}

}
.acms-icon-arrow-up{
 	.icon-arrow-up();
}

.icon-bike() {
	&:before {
		content:"\e07c";
	}

}
.acms-icon-bike{
 	.icon-bike();
}

.icon-book() {
	&:before {
		content:"\e07d";
	}

}
.acms-icon-book{
 	.icon-book();
}

.icon-book2() {
	&:before {
		content:"\e07e";
	}

}
.acms-icon-book2{
 	.icon-book2();
}

.icon-bus() {
	&:before {
		content:"\e07f";
	}

}
.acms-icon-bus{
 	.icon-bus();
}

.icon-business() {
	&:before {
		content:"\e080";
	}

}
.acms-icon-business{
 	.icon-business();
}

.icon-car() {
	&:before {
		content:"\e081";
	}

}
.acms-icon-car{
 	.icon-car();
}

.icon-children() {
	&:before {
		content:"\e082";
	}

}
.acms-icon-children{
 	.icon-children();
}

.icon-company() {
	&:before {
		content:"\e083";
	}

}
.acms-icon-company{
 	.icon-company();
}

.icon-cup() {
	&:before {
		content:"\e084";
	}

}
.acms-icon-cup{
 	.icon-cup();
}

.icon-custom-field() {
	&:before {
		content:"\e085";
	}

}
.acms-icon-custom-field{
 	.icon-custom-field();
}

.icon-domain() {
	&:before {
		content:"\e086";
	}

}
.acms-icon-domain{
 	.icon-domain();
}

.icon-facebook-square() {
	&:before {
		content:"\e087";
	}

}
.acms-icon-facebook-square{
 	.icon-facebook-square();
}

.icon-facebook() {
	&:before {
		content:"\e088";
	}

}
.acms-icon-facebook{
 	.icon-facebook();
}

.icon-gallery() {
	&:before {
		content:"\e089";
	}

}
.acms-icon-gallery{
 	.icon-gallery();
}

.icon-gift() {
	&:before {
		content:"\e08a";
	}

}
.acms-icon-gift{
 	.icon-gift();
}

.icon-gplus-square() {
	&:before {
		content:"\e08b";
	}

}
.acms-icon-gplus-square{
 	.icon-gplus-square();
}

.icon-gplus() {
	&:before {
		content:"\e08c";
	}

}
.acms-icon-gplus{
 	.icon-gplus();
}

.icon-home() {
	&:before {
		content:"\e08d";
	}

}
.acms-icon-home{
 	.icon-home();
}

.icon-install() {
	&:before {
		content:"\e08e";
	}

}
.acms-icon-install{
 	.icon-install();
}

.icon-ios-app() {
	&:before {
		content:"\e08f";
	}

}
.acms-icon-ios-app{
 	.icon-ios-app();
}

.icon-lisence-code() {
	&:before {
		content:"\e090";
	}

}
.acms-icon-lisence-code{
 	.icon-lisence-code();
}

.icon-lisence() {
	&:before {
		content:"\e091";
	}

}
.acms-icon-lisence{
 	.icon-lisence();
}

.icon-logout() {
	&:before {
		content:"\e092";
	}

}
.acms-icon-logout{
 	.icon-logout();
}

.icon-lunch() {
	&:before {
		content:"\e093";
	}

}
.acms-icon-lunch{
 	.icon-lunch();
}

.icon-man() {
	&:before {
		content:"\e094";
	}

}
.acms-icon-man{
 	.icon-man();
}

.icon-manual() {
	&:before {
		content:"\e095";
	}

}
.acms-icon-manual{
 	.icon-manual();
}

.icon-map-pin() {
	&:before {
		content:"\e096";
	}

}
.acms-icon-map-pin{
 	.icon-map-pin();
}

.icon-map() {
	&:before {
		content:"\e097";
	}

}
.acms-icon-map{
 	.icon-map();
}

.icon-news() {
	&:before {
		content:"\e098";
	}

}
.acms-icon-news{
 	.icon-news();
}

.icon-person() {
	&:before {
		content:"\e099";
	}

}
.acms-icon-person{
 	.icon-person();
}

.icon-plane() {
	&:before {
		content:"\e09a";
	}

}
.acms-icon-plane{
 	.icon-plane();
}

.icon-role() {
	&:before {
		content:"\e09b";
	}

}
.acms-icon-role{
 	.icon-role();
}

.icon-scissors() {
	&:before {
		content:"\e09c";
	}

}
.acms-icon-scissors{
 	.icon-scissors();
}

.icon-search() {
	&:before {
		content:"\e09d";
	}

}
.acms-icon-search{
 	.icon-search();
}

.icon-senior() {
	&:before {
		content:"\e09e";
	}

}
.acms-icon-senior{
 	.icon-senior();
}

.icon-server() {
	&:before {
		content:"\e09f";
	}

}
.acms-icon-server{
 	.icon-server();
}

.icon-ship() {
	&:before {
		content:"\e0a0";
	}

}
.acms-icon-ship{
 	.icon-ship();
}

.icon-shop() {
	&:before {
		content:"\e0a1";
	}

}
.acms-icon-shop{
 	.icon-shop();
}

.icon-support() {
	&:before {
		content:"\e0a2";
	}

}
.acms-icon-support{
 	.icon-support();
}

.icon-target-blank() {
	&:before {
		content:"\e0a3";
	}

}
.acms-icon-target-blank{
 	.icon-target-blank();
}

.icon-tel() {
	&:before {
		content:"\e0a4";
	}

}
.acms-icon-tel{
 	.icon-tel();
}

.icon-train() {
	&:before {
		content:"\e0a5";
	}

}
.acms-icon-train{
 	.icon-train();
}

.icon-truck() {
	&:before {
		content:"\e0a6";
	}

}
.acms-icon-truck{
 	.icon-truck();
}

.icon-twitter-square() {
	&:before {
		content:"\e0a7";
	}

}
.acms-icon-twitter-square{
 	.icon-twitter-square();
}

.icon-twitter() {
	&:before {
		content:"\e0a8";
	}

}
.acms-icon-twitter{
 	.icon-twitter();
}

.icon-unlimited() {
	&:before {
		content:"\e0a9";
	}

}
.acms-icon-unlimited{
 	.icon-unlimited();
}

.icon-user-add() {
	&:before {
		content:"\e0aa";
	}

}
.acms-icon-user-add{
 	.icon-user-add();
}

.icon-version() {
	&:before {
		content:"\e0ab";
	}

}
.acms-icon-version{
 	.icon-version();
}

.icon-woman() {
	&:before {
		content:"\e0ac";
	}

}
.acms-icon-woman{
 	.icon-woman();
}

.icon-youtube() {
	&:before {
		content:"\e0ad";
	}

}
.acms-icon-youtube{
 	.icon-youtube();
}
