<!-- BEGIN layout#display -->
	<!--#include file="/include/module/entry/pickupList.html" -->
<!-- END layout#display -->
<!-- BEGIN layout#dummy -->
<section class="moduleSection">

<div class="moduleHeader clearfix">
	<h2 class="moduleHeading">ピックアップリスト</h2>
</div>
<ul class="pickupList">
	<li class="js-biggerlink">
		<div class="photo">
			<img src="/images/noImage.png" alt="" class="acms-img-responsive" />
		</div>
		<p><a href="#">家庭用製品F</a></p>
	</li>
</ul>
</section>
<!-- END layout#dummy -->
