<!-- BEGIN layout#display -->
	<!--#include file="/include/module/entry/topSummary.html" -->
<!-- END layout#display -->
<!-- BEGIN layout#dummy -->
<section class="moduleSection">
<div class="moduleHeader clearfix">
	<h2 class="moduleHeading">製品情報</h2><a href="" class="moduleIndexLink"><span class="acms-icon acms-icon-arrow-right"></span>一覧</a>
</div>
<div class="summaryDefault clearfix">
	<div class="summaryDefaultEntry js-biggerlink">
		<div class="acms-summary">
			<div class="summaryDefaultEntryImageWrap acms-summary-image">
				<div style="width:120px; height:120px; overflow:hidden; position:relative;">
					<img src="/images/noImage.png" alt="" class="acms-img-responsive" />
				</div>
			</div>
			<div class="acms-summary-body">
				<p class="summaryTitle"><a href="#">業務用製品G</a></p>
				<p>この製品についての説明文です。この製品についての説明文です。この製品についての説明文です。この製...</p>
			</div>
		</div>
	</div>
	<div class="summaryDefaultEntry js-biggerlink">
		<div class="acms-summary">
			<div class="summaryDefaultEntryImageWrap acms-summary-image">
				<div style="width:120px; height:120px; overflow:hidden; position:relative;">
					<img src="/images/noImage.png" alt="" class="acms-img-responsive" />
				</div>
			</div>
			<div class="acms-summary-body">
				<p class="summaryTitle"><a href="#">業務用製品B</a></p>
				<p>この製品についての説明文です。この製品についての説明文です。この製品についての説明文です。この製...</p>
			</div>
		</div>
	</div>
	<div class="summaryDefaultEntry js-biggerlink">
		<div class="acms-summary">
			<div class="summaryDefaultEntryImageWrap acms-summary-image">
				<div style="width:120px; height:120px; overflow:hidden; position:relative;">
					<img src="/images/noImage.png" alt="" class="acms-img-responsive" />
				</div>
			</div>
			<div class="acms-summary-body">
				<p class="summaryTitle"><a href="#">家庭用製品C</a></p>
				<p>この製品についての説明文です。この製品についての説明文です。この製品についての説明文です。この製...</p>
			</div>
		</div>
	</div>
	<div class="summaryDefaultEntry js-biggerlink">
		<div class="acms-summary">
			<div class="summaryDefaultEntryImageWrap acms-summary-image">
				<div style="width:120px; height:120px; overflow:hidden; position:relative;">
					<img src="/images/noImage.png" alt="" class="acms-img-responsive" />
				</div>
			</div>
			<div class="acms-summary-body">
				<p class="summaryTitle"><a href="#">家庭用製品F</a></p>
				<p>見出し内容内容内容内容内容内容内容内容内容内容 見出し内容内容内容内容内容内容内容内容内容内容 見...</p>
			</div>
		</div>
	</div>
	<div class="summaryDefaultEntry js-biggerlink">
		<div class="acms-summary">
			<div class="summaryDefaultEntryImageWrap acms-summary-image">
				<div style="width:120px; height:120px; overflow:hidden; position:relative;">
					<img src="/images/noImage.png" alt="" class="acms-img-responsive" />
				</div>
			</div>
			<div class="acms-summary-body">
				<p class="summaryTitle"><a href="#">業務用製品E</a></p>
				<p>この製品についての説明文です。この製品についての説明文です。この製品についての説明文です。この製...</p>
			</div>
		</div>
	</div>
	<div class="summaryDefaultEntry js-biggerlink">
		<div class="acms-summary">
			<div class="summaryDefaultEntryImageWrap acms-summary-image">
				<div style="width:120px; height:120px; overflow:hidden; position:relative;">
					<img src="/images/noImage.png" alt="" class="acms-img-responsive" />
				</div>
			</div>
			<div class="acms-summary-body">
				<p class="summaryTitle"><a href="#">家庭用製品A</a></p>
				<p>この製品についての説明文です。この製品についての説明文です。この製品についての説明文です。この製...</p>
			</div>
		</div>
	</div>
</div>
</section>
<!-- END layout#dummy -->
