@charset "utf-8";
/* ------------------------------
　　ベース
------------------------------ */
body {
  background: #FFF;
  color: #333;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, 'メイリオ', 'ＭＳ Ｐゴシック', 'MS PGothic', Verdana, sans-serif;
  font-size: 14px;
}
/* リンクの設定 */
a {
  border: none;
  color: #006DD9;
  text-decoration: none;
}
a:visited {
  color: #7F5AD7;
  text-decoration: none;
}
a:active {
  color: #006DD9;
  text-decoration: none;
}
a:hover {
  color: #006DD9;
  text-decoration: underline;
}
/* コンテナー */
.acms-container {
  max-width: 1170px;
}
.acms-container .acms-container {
  padding: 0;
}
.narrow-container {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1170px) {
  .acms-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sp-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .acms-grid-r .sp-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .sp-container .sp-container {
    padding: 0;
  }
  .sp-container .acms-container .sp-container {
    padding: 0;
  }
}
/* アニメーション */
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  20% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  20% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  20% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
/* ------------------------------
　　ボタン
------------------------------ */
.btn {
  background: #999999;
  font-weight: bold;
  color: #FFF;
  line-height: 1.2;
  border: 0;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
}
.btn:hover,
.btn:visited {
  color: #FFF;
  text-decoration: none;
}
.btn:focus,
.btn:active {
  color: #FFF;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.btn:hover {
  background-color: #999999;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc1c1c1', endColorstr='#ff999999', GradientType=0);
  background-image: -moz-linear-gradient(top, #c1c1c1, #999999);
  background-image: -ms-linear-gradient(top, #c1c1c1, #999999);
  background-image: -o-linear-gradient(top, #c1c1c1, #999999);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#c1c1c1), to(#999999));
  background-image: -webkit-linear-gradient(top, #c1c1c1, #999999);
  background-image: linear-gradient(top, #c1c1c1, #999999);
  color: #ffffff;
}
.btn:active,
.btn:focus {
  background: #878787;
}
/* ボタン　色付き */
.btnAttention {
  background: #ff9a00;
  font-weight: bold;
  color: #FFF;
  line-height: 1.2;
  border: 0;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
}
.btnAttention:hover,
.btnAttention:visited {
  color: #FFF;
  text-decoration: none;
}
.btnAttention:focus,
.btnAttention:active {
  color: #FFF;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.btnAttention:hover {
  background-color: #ff9a00;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdd87d', endColorstr='#ffff9a00', GradientType=0);
  background-image: -moz-linear-gradient(top, #fdd87d, #ff9a00);
  background-image: -ms-linear-gradient(top, #fdd87d, #ff9a00);
  background-image: -o-linear-gradient(top, #fdd87d, #ff9a00);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fdd87d), to(#ff9a00));
  background-image: -webkit-linear-gradient(top, #fdd87d, #ff9a00);
  background-image: linear-gradient(top, #fdd87d, #ff9a00);
  color: #ffffff;
}
.btnAttention:active,
.btnAttention:focus {
  background: #eda800;
}
/* ボタンサイズ大 */
.btnLarge {
  background: #999999;
  font-weight: bold;
  color: #FFF;
  line-height: 1.2;
  border: 0;
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
.btnLarge:hover,
.btnLarge:visited {
  color: #FFF;
  text-decoration: none;
}
.btnLarge:focus,
.btnLarge:active {
  color: #FFF;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.btnLarge:hover {
  background: #777777;
}
.btnLarge:active,
.btnLarge:focus {
  background: #878787;
}
/* ボタンサイズ大 色付き */
.btnAttentionLarge {
  background: #ff9a00;
  font-weight: bold;
  color: #FFF;
  line-height: 1.2;
  border: 0;
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
.btnAttentionLarge:hover,
.btnAttentionLarge:visited {
  color: #FFF;
  text-decoration: none;
}
.btnAttentionLarge:focus,
.btnAttentionLarge:active {
  color: #FFF;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.btnAttentionLarge:hover {
  background: #ff7e00;
}
.btnAttentionLarge:active,
.btnAttentionLarge:focus {
  background: #eda800;
}
/* デスクトップ：最大360pxボタン */
.btnBlockLarge {
  width: 100%;
  background: #999999;
  font-weight: bold;
  color: #FFF;
  line-height: 1.2;
  border: 0;
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
.btnBlockLarge:hover,
.btnBlockLarge:visited {
  color: #FFF;
  text-decoration: none;
}
.btnBlockLarge:focus,
.btnBlockLarge:active {
  color: #FFF;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.btnBlockLarge:hover {
  background: #777777;
}
.btnBlockLarge:active,
.btnBlockLarge:focus {
  background: #878787;
}
/* デスクトップ：最大360pxボタン 色付き */
.btnAttentionBlockLarge {
  width: 100%;
  background: #ff9a00;
  font-weight: bold;
  color: #FFF;
  line-height: 1.2;
  border: 0;
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
.btnAttentionBlockLarge:hover,
.btnAttentionBlockLarge:visited {
  color: #FFF;
  text-decoration: none;
}
.btnAttentionBlockLarge:focus,
.btnAttentionBlockLarge:active {
  color: #FFF;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.btnAttentionBlockLarge:hover {
  background: #ff7e00;
}
.btnAttentionBlockLarge:active,
.btnAttentionBlockLarge:focus {
  background: #eda800;
}
@media (min-width: 768px) {
  .btnBlockLarge {
    max-width: 360px;
  }
  .btnAttentionBlockLarge {
    max-width: 360px;
  }
}
@media (max-width: 767px) {
  .btnSearchBlock {
    display: block;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: 15px 20px;
    font-size: 20px;
  }
}
/* ボーダーボタン */
.homeBtn {
  margin: 20px 0 10px;
}
.btnBorder {
  display: inline-block;
  padding: 7px 10px;
  color: #333;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #CCC;
}
.btnBorder [class*='acms-icon-'] {
  color: #CCC;
  font-size: 14px;
}
.btnBorder:hover {
  text-decoration: none;
}
/* ------------------------------
　　ページタイトル
------------------------------ */
.pageTitleWrapper {
  display: table;
  position: relative;
  width: 100%;
  height: 100px;
  color: #FFF;
  background: url(../images/bg_other.jpg) #333333 no-repeat center;
  background-size: cover;
}
.pageTitleFilter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.pageTitleInner {
  display: table-cell;
  position: relative;
  padding: 15px 10px;
  vertical-align: middle;
}
.pageTitle {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
}
.pageTitle a {
  color: #FFF;
}
.pageDescription {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .pageTitleWrapper {
    height: 270px;
  }
}
/* ------------------------------
　　ページャー
------------------------------ */
.pager {
  list-style: none;
  margin: 0 -5px 50px -5px;
  padding: 0;
  text-align: center;
}
.pager li {
  display: inline-block;
  margin: 0 5px;
}
.pager li.cur {
  /* 現在いる位置 */
  padding: 5px 20px;
  color: #FFF;
  background: #999999;
  border-radius: 3px;
}
.pagerLink {
  display: block;
  padding: 5px 20px;
  color: #333;
  border-radius: 3px;
  background: #e5e5e5;
}
.pagerLink:visited,
.pagerLink:focus,
.pagerLink:active {
  color: #333;
}
.pagerLink:hover {
  color: #FFF;
  text-decoration: none;
  background: #333;
}
.pagerLinkForward {
  float: right;
}
.pagerLinkPrev {
  float: left;
}
@media screen and (min-width: 768px) {
  .pagerLink {
    padding: 5px 10px;
  }
  .pager li.cur {
    /* 現在いる位置 */
    padding: 5px 10px;
  }
}
/* 前後リンク */
.serialNav {
  list-style: none;
  margin: -25px 0 60px 0;
  padding: 0;
}
.serialNav .serialNavItem {
  display: block;
  float: none;
}
.serialNav .serialNavItemPrev {
  text-align: left;
}
.serialNav .serialNavItemNext {
  text-align: right;
}
.serialNav a {
  display: block;
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
  color: #333;
}
.serialNav a:hover,
.serialNav a:visited,
.serialNav a:focus,
.serialNav a:active {
  color: inherit;
  text-decoration: none;
}
.serialNav a:hover {
  background: #e5e5e5;
}
@media screen and (min-width: 768px) {
  .serialNav {
    margin: 0 0 60px 0;
    border: 0;
  }
  .serialNav .serialNavItemPrev {
    float: left;
  }
  .serialNav .serialNavItemNext {
    float: right;
  }
  .serialNav a {
    display: inline;
    border: 0;
  }
  .serialNav a:hover {
    text-decoration: underline;
    background: 0;
  }
}
/* ------------------------------
　　トピックパス
------------------------------ */
.topicpath {
  margin-bottom: 30px;
  padding: 10px 0;
  background: #F5F5F5;
}
.topicpathList {
  list-style: none;
  margin: 0 auto;
}
.topicpathItem {
  float: left;
  padding: 0 10px 0 23px;
  background: url(../images/marker/icon_arrow.png) no-repeat left center;
}
.topicpathItem:first-child {
  padding: 0 10px 0 0;
  background: 0;
}
.topicpathLink {
  color: #666;
  font-size: 14px;
}
.topicpathLink:visited,
.topicpathLink:focus,
.topicpathLink:active {
  color: #666;
}
/* ------------------------------
　　スライダー
------------------------------ */
.slick-slider {
  padding: 0 0 12px 0;
}
.slick-slider img {
  margin: 0 auto;
}
.js-main-slider {
  height: 200px;
  /* はじめのちらつき防止 */
  overflow: hidden;
  /* はじめのちらつき防止 */
}
.slick-slide:hover {
  cursor: pointer;
}
.mainSliderImage {
  height: 200px;
  background: no-repeat center #333333;
  background-size: cover;
}
.mainSliderImage a:hover {
  text-decoration: none;
}
.mainSliderTextOuter {
  height: 100%;
}
.mainSliderTextWrap {
  display: table;
  width: 100%;
  height: 100%;
}
.mainSliderTextInner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.mainSliderMainCopy {
  margin: 0;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
}
.mainSliderSideCopy {
  margin: 0;
  color: #FFF;
  font-size: 14px;
}
/* 矢印ナビゲーション */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 19px;
  height: 60px;
  margin-top: -29px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev {
  left: 10px;
  background: url(../images/marker/icon_white_arrow_left.png) no-repeat;
}
.slick-next {
  right: 10px;
  background: url(../images/marker/icon_white_arrow_right.png) no-repeat;
}
/* ドットのナビゲーション */
.slick-dots {
  position: relative;
  margin: -35px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots li button {
  content: "";
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 8px;
  font-size: 0;
  background: #FFF;
  border-radius: 7px;
  border: 0;
}
.slick-dots li button:focus {
  outline: 0;
}
.slick-dots li:hover button {
  cursor: pointer;
}
.slick-dots li.slick-active button {
  background: #c41134;
}
.slick-dots button {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
@media screen and (min-width: 768px) {
  .slick-prev {
    left: 50px;
  }
  .slick-next {
    right: 50px;
  }
  .js-main-slider {
    height: 400px;
    /* はじめのちらつき防止 */
  }
  .mainSliderImage {
    height: 400px;
  }
  .mainSliderMainCopy {
    font-size: 40px;
  }
  .mainSliderSideCopy {
    font-size: 24px;
  }
}
/* ------------------------------
　　各モジュール
------------------------------ */
.moduleSection {
  margin: 0 0 30px 0;
}
/* タイトル */
.moduleHeader {
  position: relative;
  margin: 0;
  padding: 5px 0;
  color: #333;
  border-bottom: 2px solid #333;
}
.moduleHeader + .summaryCustom,
.moduleHeader + .summaryDefault,
.moduleHeader + .entryColumn,
.moduleHeader + .pickupList,
.moduleHeader + .searchForm,
.moduleHeader + .banner {
  margin-top: 10px;
}
.moduleHeading {
  margin: 0;
  font-size: 18px;
}
a.moduleIndexLink {
  position: absolute;
  bottom: 5px;
  right: 0;
  color: #333;
  font-size: 16px;
}
a.moduleIndexLink [class*='acms-icon-'] {
  color: #CCC;
  font-size: 14px;
}
/* ------------------------------
　　リスト
------------------------------ */
@media screen and (min-width: 768px) {
  /* リスト */
  a.acms-list-group-item {
    padding: 10px 20px 10px 10px;
    -webkit-transition: padding 0.15s ease-out;
    transition: padding 0.15s ease-out;
  }
  a.acms-list-group-item:hover {
    padding: 10px 10px 10px 20px;
    -webkit-transition: padding 0.25s ease-out;
    transition: padding 0.25s ease-out;
  }
}
/* ------------------------------
　　サマリー
------------------------------ */
.summaryDefault {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
.summaryDefaultEntry {
  float: left;
  width: 100%;
  padding: 10px;
  color: #333;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}
.summaryDefaultEntry.bl-hover {
  background: #F1F1F1;
}
.summaryTitle {
  margin: 0 0 10px 0;
  font-size: 16px;
}
.summaryDetail {
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
}
@media screen and (min-width: 480px) {
  .summaryDefault {
    margin: 0 0 20px 0;
  }
  .summaryDefaultEntry {
    width: 50%;
  }
}
/* ------------------------------
　　ピックアップリスト
------------------------------ */
.pickupList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pickupList img {
  display: block;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}
.pickupList img:hover {
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  filter: alpha(opacity=75);
}
/* バナー */
.banner {
  margin: 0;
  padding: 0;
  list-style: none;
}
.banner a {
  display: block;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}
.banner a:hover {
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  filter: alpha(opacity=75);
}
.bannerListItem {
  margin: 0 0 20px 0;
}
/* ------------------------------
　　ヘッドライン
------------------------------ */
.headlineItem {
  line-height: 1.5;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}
.headlineItem.bl-hover {
  background: #F1F1F1;
}
@media screen and (max-width: 479px) {
  /* 画面幅が小さいとき */
  /* ヘッドライン */
  .headlineItem {
    padding: 10px 0;
  }
  .headlineTitle {
    display: block;
    margin: 0;
  }
}
/* ------------------------------
　　検索フォーム
------------------------------ */
.searchForm .btnSearch {
  padding: 10px 20px;
  font-size: 16px;
  filter: none;
  /* IEでのグラデーションを上書き */
  background: #333;
  color: #FFF;
  border-radius: 0 4px 4px 0;
  border: 1px solid #333;
}
.searchForm .btnSearch:hover {
  background: #666;
}
.searchForm input[type="search"] {
  padding: 9px 10px;
  height: 40px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"].searchFormInput {
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ------------------------------
　　エントリー
------------------------------ */
.entry {
  margin: 0 0 25px 0;
  border-bottom: 1px solid #e5e5e5;
}
.pageHeader {
  margin: 0 0 20px 0;
}
.entryInfo {
  margin-top: 0;
  font-size: 14px;
}
/* カテゴリーと新着ラベル */
.entryCategory,
.entryNew {
  font-size: 14px;
}
/* タイトル */
.entryTitle {
  margin: 10px 0;
}
.entryTitle a {
  color: #333;
}
.acms-entry h2.entryTitle {
  padding: 0;
}
/* エントリーのスタイル */
.entryColumn {
  color: #333;
}
.entryColumn h2 {
  margin: 0 10px 25px 10px;
  padding: 5px 10px;
  font-size: 18px;
  color: #666;
  border-left: 4px solid #666;
}
.entryColumn h2.moduleHeading {
  margin: 0;
  padding: 0;
  border: 0;
}
.entryColumn h3 {
  margin: 0 10px 20px 10px;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
  background: #e5e5e5;
}
.entryColumn a:link {
  color: #006DD9;
  text-decoration: none;
}
.entryColumn a:hover,
.entryColumn a:focus,
.entryColumn a:active {
  text-decoration: underline;
}
.entryColumn a:visited {
  color: #7F5AD7;
  text-decoration: none;
}
/* 本文 */
.entryColumn p {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.7;
}
/* エントリー内ボタン */
.entryColumn p.entryBtn {
  margin-bottom: 10px;
}
.entryColumn p.entryBtn a {
  background: #999999;
  font-weight: bold;
  color: #FFF;
  line-height: 1.2;
  border: 0;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
}
.entryColumn p.entryBtn a:hover,
.entryColumn p.entryBtn a:visited {
  color: #FFF;
  text-decoration: none;
}
.entryColumn p.entryBtn a:focus,
.entryColumn p.entryBtn a:active {
  color: #FFF;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.entryColumn p.entryBtn a:hover {
  background-color: #999999;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc1c1c1', endColorstr='#ff999999', GradientType=0);
  background-image: -moz-linear-gradient(top, #c1c1c1, #999999);
  background-image: -ms-linear-gradient(top, #c1c1c1, #999999);
  background-image: -o-linear-gradient(top, #c1c1c1, #999999);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#c1c1c1), to(#999999));
  background-image: -webkit-linear-gradient(top, #c1c1c1, #999999);
  background-image: linear-gradient(top, #c1c1c1, #999999);
  color: #ffffff;
}
.entryColumn p.entryBtn a:active,
.entryColumn p.entryBtn a:focus {
  background: #878787;
}
/* 色付きボタン */
.entryColumn p.entryBtnAttention a {
  background: #ff9a00;
  font-weight: bold;
  color: #FFF;
  line-height: 1.2;
  border: 0;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
}
.entryColumn p.entryBtnAttention a:hover,
.entryColumn p.entryBtnAttention a:visited {
  color: #FFF;
  text-decoration: none;
}
.entryColumn p.entryBtnAttention a:focus,
.entryColumn p.entryBtnAttention a:active {
  color: #FFF;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.entryColumn p.entryBtnAttention a:hover {
  background-color: #ff9a00;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdd87d', endColorstr='#ffff9a00', GradientType=0);
  background-image: -moz-linear-gradient(top, #fdd87d, #ff9a00);
  background-image: -ms-linear-gradient(top, #fdd87d, #ff9a00);
  background-image: -o-linear-gradient(top, #fdd87d, #ff9a00);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fdd87d), to(#ff9a00));
  background-image: -webkit-linear-gradient(top, #fdd87d, #ff9a00);
  background-image: linear-gradient(top, #fdd87d, #ff9a00);
  color: #ffffff;
}
.entryColumn p.entryBtnAttention a:active,
.entryColumn p.entryBtnAttention a:focus {
  background: #eda800;
}
.entryColumn p.summaryTitle {
  margin: 0 0 10px 0;
}
.entryColumn p.summaryDetail {
  margin: 0 0 10px 0;
  font-size: 14px;
}
/* テーブル */
.entryColumn .entry-container {
  margin: 0 10px;
}
.entryColumn table {
  width: 100%;
  margin: 0 0 30px 0;
}
.entryColumn table.tableHistory {
  table-layout: fixed;
}
.entryColumn th,
.entryColumn td {
  display: block;
  padding: 5px 10px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  border-top: 1px solid #DFDFDF;
  vertical-align: top;
}
.entryColumn .acms-table-responsive {
  margin-bottom: 30px;
}
.entryColumn .acms-table-responsive th,
.entryColumn .acms-table-responsive td {
  display: table-cell;
  white-space: nowrap;
}
.entryColumn .acms-table-responsive table {
  margin: 0;
}
.entryColumn th {
  background: #F5F5F5;
}
/* 沿革用テーブル */
.entryColumn table.tableHistory tr {
  background: #FFF;
}
.entryColumn table.tableHistory th,
.entryColumn table.tableHistory td {
  display: block;
}
.entryColumn table.tableHistory th {
  padding: 10px;
}
.entryColumn table.tableHistory td {
  padding: 10px 0;
}
.entryColumn table.tableHistory .tableHistoryImg {
  padding: 0 10px 10px 10px;
  display: block;
}
/* リスト */
.entryColumn ul {
  margin: 0 0 25px 0;
  padding: 0 0 0 2em;
}
.entryColumn ul li {
  margin: 0 0 5px 0;
  font-size: 16px;
  line-height: 1.5;
}
.entryColumn ul.summaryDefault {
  padding: 0;
}
.entryColumn ul.summaryDefault li {
  margin: 0;
}
/* 番号付きリスト */
.entryColumn ol {
  margin: 0 0 25px 0;
  padding: 0 0 0 2.5em;
}
.entryColumn ol li {
  margin: 0 0 5px 0;
  font-size: 16px;
  line-height: 1.5;
}
/* 定義リスト */
.entryColumn dl {
  margin-top: 0;
  margin-bottom: 30px;
}
.entryColumn dt {
  margin: 0 0 5px 0;
  font-size: 16px;
  line-height: 1.2;
}
.entryColumn dd {
  font-size: 16px;
  line-height: 1.5;
}
/* 引用 */
.entryColumn blockquote {
  margin-bottom: 30px;
  padding: 15px 20px 15px 16px;
  font-size: 16px;
  line-height: 1.5;
  border-left: 4px solid #BFBFBF;
  background: #EFEFEF;
}
/* ソースコード */
.entryColumn pre {
  margin: 0 0 30px 0;
}
.entryColumn pre ol {
  margin: 0;
  padding: 0 0 0 2.5em;
}
.entryColumn pre ol li {
  line-height: 1.5;
}
/* 区切り線 */
.entryColumn hr {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
/* ユニット */
.entryColumn .caption {
  margin: 0 0 20px 0;
  font-size: 13px;
}
@media screen and (min-width: 480px) {
  .entryColumn .tableHistoryImg {
    float: right;
  }
}
@media screen and (min-width: 768px) {
  .entryColumn th,
  .entryColumn td {
    display: table-cell;
    padding: 15px 20px;
    text-align: left;
    font-size: 16px;
    border-top: 1px solid #DFDFDF;
  }
  .entryColumn th {
    background: inherit;
  }
  .entryColumn tr:nth-child(odd) {
    background: #F5F5F5;
  }
}
/* エントリーフッター */
.entryFooter {
  margin: 0 0 20px 0;
  padding: 10px;
  background: #F5F5F5;
}
/* タグ */
.entryTag {
  margin: 0 0 5px 0;
}
.entryTagIcon {
  float: left;
  color: #999;
}
.entryTagItem {
  float: left;
  margin: 0 0 0 10px;
}
/* SNSシェア */
.shareWrapper {
  float: right;
}
.shareText {
  display: inline;
  float: left;
  margin: 0;
}
/* SNSシェアボタン */
.shareList {
  display: inline;
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}
.shareItem {
  display: inline-block;
  margin: 0 0 0 20px;
}
.shareItem a {
  color: #999;
  text-decoration: none;
}
.shareItem [class*='acms-icon'] {
  font-size: 16px;
  vertical-align: middle;
}
.shareItem .shareItemFacebook {
  /* Facebook */
  display: block;
  width: 22px;
  height: 22px;
  line-height: 1.2;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  background: #3b5999;
  border-radius: 4px;
}
.shareItem .shareItemFacebook:before {
  vertical-align: middle;
}
.shareItem .shareItemTwitter {
  /* Twitter */
  display: block;
  width: 22px;
  height: 22px;
  line-height: 1.2;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  background: #55acee;
  border-radius: 4px;
}
.shareItem .shareItemTwitter:before {
  vertical-align: middle;
}
.shareItem .shareItemGplus {
  /* Google + */
  display: block;
  width: 22px;
  height: 22px;
  line-height: 1.2;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  background: #dd4b39;
  border-radius: 4px;
}
.shareItem .shareItemGplus:before {
  vertical-align: middle;
}
/* 続きを読むボタン */
.continueLink {
  margin: 0;
  font-size: 16px;
}
.continueLink a {
  display: inline-block;
  padding: 10px;
  color: #FFF;
  line-height: 1.5;
  font-weight: bold;
  border-radius: 3px;
  background: #999;
}
.continueLink a [class*='acms-icon'] {
  margin: 0 10px 0 0;
}
.continueLink a:link,
.continueLink a:visited {
  color: #FFF;
}
.continueLink a:hover,
.continueLink a:focus,
.continueLink a:active {
  color: #FFF;
  text-decoration: none;
  background: #AAA;
}
@media screen and (min-width: 768px) {
  /* タグ */
  .entryTag {
    margin: 0;
  }
  /* 続きを読むボタン */
  .continueLink a {
    padding: 5px 10px;
    font-weight: normal;
  }
}
/* ------------------------------
　　編集ページ
------------------------------ */
.fieldTitle {
  padding: 0 10px;
}
.fieldTitle:first-child {
  margin: 0 0 10px 0;
}
/* ------------------------------
　　サブカラム
------------------------------ */
.sideTitle {
  margin-top: 0;
  font-size: 18px;
}
/* ------------------------------
　　物件情報
------------------------------ */
/* 地図 */
.realestateMap {
  overflow: hidden;
}
.realestateMap .js-s2d-ready,
.realestateMap [class*='column-map-'] {
  width: auto!important;
  max-width: 100%;
}
.realestateMap img[class*='column-map-'] {
  width: auto!important;
  max-width: 100%;
  height: auto;
}
.realestateMapEntry {
  margin: 0 10px;
}
.entryColumn table.realestateSearch {
  margin: 20px 0 30px 0;
}
@media screen and (min-width: 1024px) {
  .tableNowrap {
    white-space: nowrap;
  }
}
/* 物件一覧 */
.summaryCustom {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid #e5e5e5;
}
.summaryCustomEntry {
  padding: 10px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.summaryCustomEntry:hover {
  background: #F5F5F5;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
.photo {
  margin: 0 0 10px 0;
}
.photoTitle {
  margin: 0;
  font-size: 16px;
}
.pickupTitle {
  color: #333;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  /* 物件情報 */
  .realestateSearch th,
  .realestateSearch td {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .realestateSearch input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* ------------------------------
　　お問い合わせ
------------------------------ */
.contactBox p.message {
  margin: 0 0 35px 0;
  padding: 0 10px;
  font-weight: bold;
  color: #c41134;
}
.contactBox p.contactNo {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}
.contactBox p.contactNo a {
  color: inherit;
}
.contactBox p.errorText {
  /* エラー文 */
  margin: 5px 0 0 0;
  color: #c41134;
}
.contactBox table.contactForm {
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
.contactBox table.contactForm tr {
  background: #FFF;
}
@media screen and (min-width: 480px) {
  .contactBox th,
  .contactBox td {
    display: table-cell;
  }
}
@media screen and (min-width: 768px) {
  .contactBox th {
    width: 260px;
  }
}
/* ステップ */
.contactBox .mailStep {
  margin: 0 10px 35px 10px;
  padding: 0 10px;
  background: #e5e5e5;
  /* カウンターの設定 */
  counter-reset: mailStep;
}
.contactBox .mailStepItem {
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 18px 0 14px;
  color: #999;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 4px solid transparent;
}
.contactBox .mailStepItem:before {
  /* カウンターの設定 */
  counter-increment: mailStep;
  content: counter(mailStep) ".";
}
.contactBox .mailStepItemCurrent {
  color: #333;
  border-bottom: 4px solid #333333;
}
@media screen and (min-width: 768px) {
  .contactBox .mailStep {
    height: 60px;
  }
}
/* 送信ボタン */
.formBtnBox {
  margin: 0 10px 50px 10px;
  text-align: center;
}
.formBtn {
  display: inline-block;
}
.formBtnReturn {
  float: left;
}
.formBtnSend {
  float: right;
}
@media screen and (min-width: 768px) {
  .formBtnReturn {
    float: none;
  }
  .formBtnSend {
    float: none;
    max-width: 360px;
    width: 100%;
  }
}
/* ラベル */
.labelRequired {
  margin: 0 5px;
  padding: 2px 8px;
  color: #FFF;
  font-size: 12px;
  border-radius: 3px;
  background: #c41134;
}
@media screen and (min-width: 768px) {
  .labelRequired {
    float: right;
  }
}
/* ------------------------------
　　ヘッダー
------------------------------ */
/* サイト名 */
.siteName {
  font-size: 24px;
  font-weight: bold;
  color: #c41134;
}
.siteName a {
  color: #c41134;
}
.siteName a:hover,
.siteName a:focus,
.siteName a:active,
.siteName a:visited {
  color: #c41134;
}
.siteLogo {
  display: inline-block;
  width: 22px;
  height: auto;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.siteNameText {
  display: inline;
  vertical-align: middle;
}
.editLink {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
@media (min-width: 768px) {
  .siteName {
    font-size: 24px;
  }
  .siteLogo {
    width: 40px;
  }
  .header {
    display: table;
    width: 100%;
  }
  .headerLogo {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }
  .headerNav {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
}
@media (min-width: 1024px) {
  .headerLogo {
    display: table-cell;
    width: 40%;
  }
  .headerNav {
    display: table-cell;
    width: 60%;
  }
}
/* ------------------------------
　　ナビゲーション
------------------------------ */
.headerLogo {
  /* 固定したときの高さを保つ */
  padding: 48px 0 0 0;
}
.siteHeader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0 5px;
  border-top: 4px solid #333333;
  border-bottom: 1px solid #CCC;
  background: #FFF;
  z-index: 100000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* モバイル時ナビゲーションボタン */
.navMenuBtn {
  display: inline-block;
  height: 44px;
  padding: 7px 5px;
  font-size: 20px;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a.navMenuBtn {
  color: #333;
}
.navMenuBtn:hover {
  text-decoration: none;
}
.navMenuBtn .acms-icon-sort {
  display: inline-block;
}
.navMenuBtnText {
  margin: 0 0 0 5px;
  font-size: 11px;
  font-weight: bold;
  color: #333;
  vertical-align: middle;
  display: inline-block;
}
/* モバイル時ヘッダー アイコン */
.navMenuAction {
  display: table;
  float: right;
  margin: 0;
  padding: 0;
}
.navMenuActionItem {
  display: table-cell;
  width: 44px;
  height: 44px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  color: #333333;
}
.navMenuActionLink {
  color: #333333;
}
.navMenuActionLink:hover,
.navMenuActionLink:active,
.navMenuActionLink:visited,
.navMenuActionLink:focus {
  color: #333333;
  text-decoration: none;
}
.navbar {
  display: none;
  width: 100%;
}
.navbar.acms-admin-module-edit-wrapper {
  z-index: 1;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar li a {
  display: block;
  padding: 10px;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}
.navbar li a:hover,
.navbar li a:focus,
.navbar li a:active {
  text-decoration: none;
  color: #FFF;
  background: #c41134;
}
@media (min-width: 1024px) {
  .header {
    height: 100px;
  }
  .navbar {
    display: inline-block;
    vertical-align: middle;
  }
  .navbar > ul {
    float: right;
    list-style: none;
    padding: 0;
  }
  .navbar li {
    float: left;
    position: relative;
    margin: 0 10px;
    vertical-align: middle;
    text-align: center;
  }
  .navbar li ul {
    /* 二階層目 */
    display: none;
    position: absolute;
    left: 0;
    min-width: 200px;
  }
  .navbar li li {
    margin: 0;
  }
  .navbar li a {
    /* 一階層目のリンクのみ */
    padding: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    -webkit-transition: border 0.25s ease-out;
    transition: border 0.25s ease-out;
  }
  .navbar li a:hover,
  .navbar li a:focus,
  .navbar li a:active {
    color: #333;
    background: transparent;
  }
  .navbar li.stay a {
    /* 一階層目のリンクのみ */
    border-bottom: 4px solid #c41134;
  }
  .navbar li.stay a.btnAttention {
    border: 0;
  }
  .navbar li:hover ul {
    /* 二階層目 */
    display: block;
    z-index: 10000;
    -webkit-animation: 0.8s fade-in;
    -moz-animation: 0.8s fade-in;
    -o-animation: 0.8s fade-in;
    animation: 0.8s fade-in;
  }
  .navbar li:hover a {
    /* 一階層目のリンクのみ */
    border-bottom: 4px solid #c41134;
  }
  .navbar li:hover a.btnAttention {
    border: 0;
  }
  .navbar li:hover li a {
    border: 0;
  }
  .navbar li li {
    /* 二階層目以降 */
    display: block;
    float: none;
    text-align: left;
    background: #c41134;
    border-top: 1px solid #910021;
  }
  .navbar li li:first-child {
    border: 0;
  }
  .navbar li li a {
    margin: 0;
    padding: 10px 15px;
    color: #FFF;
    border: 0;
  }
  .navbar li li a:hover {
    color: #FFF;
    border: 0;
    background: #910021;
  }
  .navbar a.btnAttention {
    /* ボタン（色付き） */
    background: #ff9a00;
    font-weight: bold;
    color: #FFF;
    line-height: 1.2;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 3px;
    border: 0;
  }
  .navbar a.btnAttention:hover,
  .navbar a.btnAttention:visited {
    color: #FFF;
    text-decoration: none;
  }
  .navbar a.btnAttention:focus,
  .navbar a.btnAttention:active {
    color: #FFF;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  }
  .navbar a.btnAttention:hover {
    background-color: #ff9a00;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdd87d', endColorstr='#ffff9a00', GradientType=0);
    background-image: -moz-linear-gradient(top, #fdd87d, #ff9a00);
    background-image: -ms-linear-gradient(top, #fdd87d, #ff9a00);
    background-image: -o-linear-gradient(top, #fdd87d, #ff9a00);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fdd87d), to(#ff9a00));
    background-image: -webkit-linear-gradient(top, #fdd87d, #ff9a00);
    background-image: linear-gradient(top, #fdd87d, #ff9a00);
    color: #ffffff;
    border: 0;
  }
  .navbar a.btnAttention:active,
  .navbar a.btnAttention:focus {
    background: #eda800;
  }
}
@media (min-width: 1024px) {
  .headerLogo {
    padding: 0;
  }
  .navbar ul li a {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .navbar ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  /* オフキャンバス */
  #nav {
    padding: 10px 15px 100px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .js-nav body {
    width: 100%;
    overflow: hidden;
  }
  .js-nav #nav {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .offcanvasNav {
    /* グローバルナビゲーション */
    margin: 0 0 20px 0;
  }
  .offcanvasNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .offcanvasNav li {
    display: block;
    padding: 10px;
    font-size: 16px;
    border-top: 1px solid #CCC;
  }
  .offcanvasNav li.navbarBtn {
    border: 0;
  }
  .offcanvasNav li.stay {
    background: #555;
  }
  .lt-ie9 .offcanvasNav li.stay,
  .no-js .offcanvasNav li.stay {
    background: #e5e5e5;
  }
  .offcanvasNav li:first-child {
    border: 0;
  }
  .offcanvasNav li ul {
    display: none;
  }
  .offcanvasNav a {
    display: block;
    margin: -10px;
    padding: 10px;
    color: #E8EDE3;
  }
  .offcanvasNav a:hover {
    text-decoration: none;
  }
  .offcanvasNav a.btnAttention {
    border-top: 0;
    border-radius: 0;
    font-weight: normal;
  }
  .offcanvasNav a.btnAttention:hover {
    background: #ff9a00;
  }
  .lt-ie9 .offcanvasNav a,
  .no-js .offcanvasNav a {
    color: #333;
  }
  /* オフキャンバス内のパーツ */
  .offcanvasBar .moduleHeader {
    color: #FFF;
    border-bottom: 2px solid #FFF;
  }
  .lt-ie9 .offcanvasBar .moduleHeader,
  .no-js .offcanvasBar .moduleHeader {
    /* IE8対応 */
    color: #333;
    border-bottom: 2px solid #333;
  }
  .offcanvasBar .sideListLink {
    color: #FFF;
  }
  .lt-ie9 .offcanvasBar .sideListLink,
  .no-js .offcanvasBar .sideListLink {
    /* IE8対応 */
    color: #333;
  }
  .offcanvasBar .sideListLink:hover,
  .offcanvasBar .sideListLink:visited,
  .offcanvasBar .sideListLink:focus,
  .offcanvasBar .sideListLink:active {
    color: #FFF;
    background: 0;
  }
  .lt-ie9 .offcanvasBar .sideListLink:hover,
  .lt-ie9 .offcanvasBar .sideListLink:visited,
  .lt-ie9 .offcanvasBar .sideListLink:focus,
  .lt-ie9 .offcanvasBar .sideListLink:active,
  .no-js .offcanvasBar .sideListLink:hover,
  .no-js .offcanvasBar .sideListLink:visited,
  .no-js .offcanvasBar .sideListLink:focus,
  .no-js .offcanvasBar .sideListLink:active {
    /* IE8対応 */
    color: #333;
  }
  .offcanvasBar .pickupTitle {
    margin: 0;
    color: #FFF;
    font-size: 16px;
  }
  .offcanvasBar .pickupTitle a {
    color: inherit;
  }
  .lt-ie9 .offcanvasBar .pickupTitle a {
    color: #333;
  }
  .offcanvasBar .btnSearch {
    background: #999;
    border: 1px solid #666;
  }
  .offcanvasBar .snsList {
    margin: 0 -5px;
  }
  .js-nav .offCanvasShadow {
    /* オフキャンバス時シャドウ */
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000;
    -webkit-transition: background 0.25s linear;
    transition: background 0.25s linear;
  }
  /* オフキャンバスが閉じているとき */
  .js-ready #nav {
    position: fixed;
    transition: left 500ms ease;
  }
  .js-ready #outer-wrap {
    left: 0;
    transition: left 500ms ease;
  }
  .js-ready #inner-wrap {
    transition: left 500ms ease;
  }
  .js-ready .siteHeader {
    right: 0;
    transition: right 500ms ease;
  }
  /* オフキャンバスが開いているとき */
  .js-nav #nav {
    left: 0;
    z-index: 10000;
  }
  .js-nav .siteHeader {
    right: -70%;
  }
  /* JSが無効に設定されている環境だったとき */
  .no-js #nav {
    position: static;
    padding: 10px 20px;
  }
  /* IE8対応 */
  .lt-ie9  #nav {
    position: static;
    padding: 10px 0;
  }
  .lt-ie9  .header {
    width: 100%;
  }
  .lt-ie9  .headerLogo,
  .lt-ie9  .headerNav {
    display: block;
    width: 100%;
  }
}
/* ------------------------------
　　フッター
------------------------------ */
/* お問い合わせ誘導エリア */
.suggestBox {
  background: #DDD;
}
.suggestInner {
  display: table;
  width: 100%;
  padding: 15px 0;
}
.suggestItem {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.suggestText {
  margin: 0 0 10px 0;
  line-height: 1.5;
  font-size: 14px;
}
.suggestTel {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #666;
}
.suggestTel a {
  color: inherit;
}
.suggestBtn {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .suggestInner {
    padding: 0;
  }
  .suggestItem {
    padding: 30px 10px;
  }
  .suggestTel {
    margin: 0;
  }
  .suggestHalf {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
}
/* フッター内会社情報 */
.footWrapper {
  padding: 30px 0;
  background: #333;
}
.companyAbout {
  margin: 0 0 30px 0;
  color: #FFF;
}
.companyName {
  margin: 0 0 15px 0;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
}
.companyDetail {
  margin: 0 0 5px 0;
  padding: 0;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
}
.companyDetail a {
  color: #FFF;
}
.companyDetail a:hover {
  text-decoration: underline;
}
/* ページの上に戻るボタン */
.pageTopBtn {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 44px;
  height: 44px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../images/marker/btn_pageTop.png) no-repeat center;
  transform: translateZ(0);
  z-index: 1000;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.no-js .pageTopBtn {
  /* jsが無効の環境のとき */
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
}
.pageTopBtnAppear {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
@media screen and (max-width: 767px) {
  .pageTopBtn {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .pageTopBtn:hover {
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    filter: alpha(opacity=80);
    -webkit-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
  }
}
/* フッター内各SNSアカウントのリンク集 */
.snsList {
  list-style: none;
  margin: 0 -5px 30px 15px;
  padding: 0;
}
.snsListItem {
  float: left;
  margin: 0 5px;
}
.snsListItem a:hover,
.snsListItem a:visited,
.snsListItem a:active,
.snsListItem a:focus {
  text-decoration: none;
}
/* 各種SNSボタン */
.snsListItem .snsListFacebook {
  /* Facebook */
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.5;
  font-size: 19px;
  color: #FFF;
  border-radius: 4px;
  background: #3b5999;
}
.snsListItem .snsListFacebook:before {
  vertical-align: middle;
}
.snsListItem .snsListTwitter {
  /* Twitter */
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.5;
  font-size: 19px;
  color: #FFF;
  border-radius: 4px;
  background: #55acee;
}
.snsListItem .snsListTwitter:before {
  vertical-align: middle;
}
.snsListItem .snsListGplus {
  /* Google + */
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.5;
  font-size: 19px;
  color: #FFF;
  border-radius: 4px;
  background: #dd4b39;
}
.snsListItem .snsListGplus:before {
  vertical-align: middle;
}
.snsListItem .snsListYoutube {
  /* YouTube */
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.5;
  font-size: 19px;
  color: #FFF;
  border-radius: 4px;
  background: #cd201f;
}
.snsListItem .snsListYoutube:before {
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .snsList {
    float: right;
    margin: 0 -10px;
  }
  .snsListItem {
    margin: 10px;
  }
  .snsListItem a:hover {
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    filter: alpha(opacity=80);
    -webkit-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
  }
}
/* 著作権表示 */
.copyright {
  margin: 0;
  color: #FFF;
}
.copyrightText {
  margin: 0 auto;
}
.copryrightLogo {
  vertical-align: middle;
}
